.settings {
    width: 92%;
    height: 100vh;
    padding: 20px 0 0 45px;
    &__row {
        width: 100%;
        @include flex(flex-start, flex-start, column);
        .settings__title {
            @include flex(flex-start, center, column);
            &-text {
                @include font(26, 26, 700, normal);
                margin-bottom: 5px;
                color: var(--black-color);
            }
            &-desc {
                @include font(16, 16, 600, normal);
                color: var(--light-gray);
            }
        }
        .settings__data {
            @include flex(flex-start, center, column);
            margin-top: 40px;
            &__item {
                @include flex(flex-start, center, column);
                margin-bottom: 30px;
                .form-group {
                    background-color: var(--sidebar-bg);
                    color: var(--light-gray);
                    input {
                        font-size: 16px;
                        border: none;
                        padding: 10px 15px;
                        background-color: var(--sidebar-bg);
                        &:focus {
                            outline: none
                        }
                    }
                }
                &-title, &-text {
                    @include font(18, 18, 600, normal);
                    color: var(--black-color)
                }
                &-desc {
                    @include font(16, 16, 500, normal);
                    color: var(--light-gray);
                    margin: 5px 0 15px;
                }
            }
        }
        .settings__theme {
            @include flex(flex-start, center, column);
            &-title {
                @include font(18, 18, 600, normal);
                color: var(--black-color);
            }
            &-desc {
                @include font(16, 16, 500, normal);
                color: var(--light-gray);
                margin: 5px 0 15px 0;
            }
            &__switch {
                @import "./toggle_btn.scss";
            }
        }
        .settings__colors {
            width: 100%;
            @include flex(center, flex-start, row);
            gap: 10px;
            margin-top: 15px;
            .settings__color {
                padding: 15px;
                border-radius: 15px;
                border: 1px solid transparent;
                &.red {
                    background-color: #FF4E4E;
                }
                &.yellow {
                    background-color: #FFA73F;
                }
                &.blue {
                    background-color: #50C2E7;
                }
                &.pink {
                    background-color: #FF678C;
                }
                &.active {
                    border: 1px solid var(--black-color);
                }
            }
        }
    }
}