.pageHeader {
  width: 100%;
  @include flex(flex-end, center, column);
  .pageHeader-profile {
    position: relative;
    @include flex(center, center, column);
    &__text {
      @include font(20, 18, 500, normal);
      border: none;
      padding: 10px 18px;
      border-radius: 50px;
      color: var(--white-color);
      background-color: var(--violet-color);
      transition: all 0.2s;
      &:hover {
        background-color: var(--violet-hover);
      }
    }
    &__dropdown {
      display: none;
      &.active {
        position: absolute;
        @include flex(center, center, row);
        top: 100%;
        right: 0;
        cursor: pointer;
        padding: 10px 10px;
        border-radius: 5px;
        background-color: var(--gray-border-color);
        span {
          @include font(16, 16, 500, normal);
          color: var(--black-color);
          text-wrap: nowrap;
        }
      }
    }
    margin-bottom: 20px;
  }
  .pageHeader-wrapper {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.15);
    .pageHeader-row {
      @include flex(center, space-between, row);
    }
    &-title {
      @include font(18, 18, 500, normal);
    }
  }
}
